<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="credit-card-params" id="creditCardDetailsContainer" style="display:none;">
    <h3>Параметры кредитной карты</h3>
    <div>
        <label>Кредитный лимит:</label>
        <input type="number" id="creditLimit" step="0.01">
    </div>
    <div>
        <label>Процентная ставка:</label>
        <input type="number" id="interestRate" step="0.01">
    </div>
    <div>
        <label>Срок кредита (мес.):</label>
        <input type="number" id="loanTerm">
    </div>
</div>
</body>
</html>