<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mortgage-params" id="mortgageDetailsContainer" style="display:none;">
    <h3>Параметры ипотеки</h3>
    <div>
        <label>Сумма кредита:</label>
        <input type="number" id="loanAmount" step="0.01">
    </div>
    <div>
        <label>Срок кредита (мес.):</label>
        <input type="number" id="mortgageLoanTerm">
    </div>
    <div>
        <label>Процентная ставка:</label>
        <input type="number" id="mortgageInterestRate" step="0.01">
    </div>
</div>
</body>
</html>